.card-deck {
  padding: 20px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 5px 10px 8px #888888;
}

.webdev-dropdown-users option{
  background-color: white;
  color: #0b51c5;
}

.webdev-inventory {
  padding-top: 20px;
}

.form-group {
  padding-left: 20px;
}

.webdev-inventory-content {
  padding-top: 30px;
}

a:hover {
  text-decoration: none;
  color: white;
}

.webdev-home-btn:hover {
  color: white;
}

