<div class="container webdev-inventory">
  <h1>
    Inventory
  </h1>
  <a routerLink="/scan">
    <button class="btn btn-outline-primary btn-block webdev-home-btn">
      Scan
    </button>
  </a>

  <div class="row webdev-inventory-content">
    <div>
      <form class="form-inline" role="form">
        <div class="form-group">
          <select class="btn btn-outline-primary webdev-dropdown-users">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-outline-primary">
            Sort by Date
          </button>
        </div>
        <div class="form-group">
          <label for="startDate">Start Date</label>
          <input type="date" class="form-control btn btn-outline-primary" id="startDate">
        </div>
        <div class="form-group">
          <label for="endDate">End Date</label>
          <input type="date" class="form-control btn btn-outline-primary" id="endDate">
        </div>
        <div class="form-group">
          <button class="btn btn-outline-primary mr-1 webdev-home-btn">
            Search
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="card-deck">
      <div class="card"
           style="width:18rem">
        <img class="card-img-top"
             src="https://picsum.photos/300/200"/>
        <div class="card-body">
          <h5 class="card-title">Temp</h5>
          <p class="card-text">Card text.</p>
        </div>
      </div>
    </div>

    <div class="card-deck">
      <div class="card"
           style="width:18rem">
        <img class="card-img-top"
             src="https://picsum.photos/300/200"/>
        <div class="card-body">
          <h5 class="card-title">Temp</h5>
          <p class="card-text">Card text.</p>
        </div>
      </div>
    </div>

    <div class="card-deck">
      <div class="card"
           style="width:18rem">
        <img class="card-img-top"
             src="https://picsum.photos/300/200"/>
        <div class="card-body">
          <h5 class="card-title">Temp</h5>
          <p class="card-text">Card text.</p>
        </div>
      </div>
    </div>

    <div class="card-deck">
      <div class="card"
           style="width:18rem">
        <img class="card-img-top"
             src="https://picsum.photos/300/200"/>
        <div class="card-body">
          <h5 class="card-title">Temp</h5>
          <p class="card-text">Card text.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row h-100 justify-content-center align-items-center">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#">
          Previous
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">
          1
        </a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">
          2
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">
          3
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">
          Next
        </a>
      </li>
    </ul>
  </div>
</div>
